{{#if header}}
  <div class="card-header layout-row layout-align-start-center">
    {{#if title}}
      <div class="card-title">{{title}}</div>
      {{#if title_count}}
        <div class="card-title-count">{{title_count}}</div>
      {{/if}}
    {{/if}}

    <span class="flex"></span>

    {{#if info}}
      <div class="info-btn" {{action "toggleInfo"}}>
        {{#if info_on}}
          {{paper-icon "info"}}
        {{else}}
          {{paper-icon "info-outline"}}
        {{/if}}
      </div>
    {{/if}}

    {{#if resizeable}}
      <div class="folding-btn" {{action "toggleFolding"}}>
        {{#if folded}}
          {{paper-icon "expand-more"}}
        {{else}}
          {{paper-icon "expand-less"}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if info_on}}
  <p class="card-info">{{info}}</p>
{{/if}}

{{#if resizeable}}
  {{#unless folded}}
    <div class="card-content">
      {{yield}}
    </div>
  {{/unless}}

{{else}}
  <div class="card-content">
    {{yield}}
  </div>

{{/if}}
