<div class="top-bar layout-row layout-align-start-center">
  <img class="logo" src="assets/images/yograde_logo.svg">

  <span class="flex"></span>

  {{#if user.accountType.user}}
    {{#if user.checkedIn}}
      <div class="top-bar-btn green" {{action "goToChecking"}}>
        {{paper-icon "alarm-on"}}
      </div>
    {{else}}
      <div class="top-bar-btn" {{action "goToChecking"}}>
        {{paper-icon "alarm-off"}}
      </div>
    {{/if}}
  {{/if}}

  {{#if user.accountType.business}}
    <div class="business">Business</div>
  {{/if}}

  {{#paper-sidenav-toggle name="left-sidenav" as |toggleAction|}}
    <div class="hide-gt-sm menu-btn" {{action toggleAction}}>
      {{paper-icon "more-vert"}}
    </div>
  {{/paper-sidenav-toggle}}
</div>

{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    name="left-sidenav"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))
  }}

    {{#paper-content}}

      {{#if user.accountType.user}}

        {{#link-to "checking"}}
          {{#paper-item}}
            {{paper-icon "alarm-on"}}
            <p>Check In/Out</p>
          {{/paper-item}}
        {{/link-to}}

        {{#link-to "grading"}}
          {{#paper-item}}
            {{paper-icon "grade"}}
            <p>Grading</p>
          {{/paper-item}}
        {{/link-to}}

        {{#link-to "ranking"}}
          {{#paper-item}}
            {{paper-icon "equalizer"}}
            <p>Ranking</p>
          {{/paper-item}}
        {{/link-to}}

        {{!--
        {{#link-to "notifications"}}
          {{#paper-item}}
            {{paper-icon "notifications"}}
            <p>Notifications</p>
          {{/paper-item}}
        {{/link-to}}
        --}}

        {{paper-divider}}

        {{!--
        {{#link-to "workplace"}}
          {{#paper-item}}
            {{paper-icon "store-mall-directory"}}
            <p>Workplace</p>
          {{/paper-item}}
        {{/link-to}}
        --}}

        {{#link-to "profile"}}
          {{#paper-item}}
            {{paper-icon "account-circle"}}
            <p>Profile</p>
          {{/paper-item}}
        {{/link-to}}

        {{#link-to "account"}}
          {{#paper-item}}
            {{paper-icon "folder-shared"}}
            <p>Account</p>
          {{/paper-item}}
        {{/link-to}}

        {{paper-divider}}

        {{#paper-item onClick=(action "signOut")}}
          {{paper-icon "lock"}}
          <p>Sign Out</p>
        {{/paper-item}}

      {{!
        BUSINESS ACCOUNT
      --}}

      {{else if user.accountType.business}}
        {{#link-to "ranking"}}
          {{#paper-item}}
            {{paper-icon "equalizer"}}
            <p>Ranking</p>
          {{/paper-item}}
        {{/link-to}}

        {{#link-to "employees"}}
          {{#paper-item}}
            {{paper-icon "account-circle"}}
            <p>Employees</p>
          {{/paper-item}}
        {{/link-to}}

        {{paper-divider}}

        {{#link-to "business-profile"}}
          {{#paper-item}}
            {{paper-icon "store-mall-directory"}}
            <p>Profile</p>
          {{/paper-item}}
        {{/link-to}}

        {{#link-to "account"}}
          {{#paper-item}}
            {{paper-icon "folder-shared"}}
            <p>Account</p>
          {{/paper-item}}
        {{/link-to}}

        {{paper-divider}}

        {{#paper-item onClick=(action "signOut")}}
          {{paper-icon "lock"}}
          <p>Sign Out</p>
        {{/paper-item}}
      {{/if}}

    {{/paper-content}}
  {{/paper-sidenav}}


  {{#paper-card-content}}
    {{outlet}}
  {{/paper-card-content}}

{{/paper-sidenav-container}}
