{{#if savingAvatar}}
  <div class="avatar-save-box">
    {{#if savingSuccess}}
      <div class="success">
        {{paper-icon "check"}}
        <p>Successfully saved profile image</p>
      </div>

      <div class="outline-btn" {{action "closeAvatarDialog"}}>OK</div>

    {{else if savingFail}}
      {{paper-icon "error-outline"}}
      <p>Failed to save profile image. Try again later.</p>

    {{else}}
      <p>Saving your profile image</p>
      {{paper-progress-linear}}
    {{/if}}

  </div>

{{else}}
  <div class="cropper-container">
    <img src="{{avatar.uploadedImageDataURL}}" alt="">
  </div>

  <div class="cropp-ctrls layout-row layout-align-center-center">
    <div class="ctrl-btn" {{action "rotate" "left"}}>
      {{paper-icon "rotate-left"}}
    </div>
    <div class="ctrl-btn" {{action "rotate" "right"}}>
      {{paper-icon "rotate-right"}}
    </div>
    <div class="ctrl-btn" {{action "zoom" "in"}}>
      {{paper-icon "zoom-in"}}
    </div>
    <div class="ctrl-btn" {{action "zoom" "out"}}>
      {{paper-icon "zoom-out"}}
    </div>
  </div>

  <div class="outline-btn" {{action "saveImage"}}>Save Image</div>
{{/if}}
