{{#if avatar.show}}
  {{#paper-dialog
    class="flex-100 flex-gt-xs-70 flex-md-40 flex-gt-md-30"
    onClose=(action "close")
    clickOutsideToClose=true}}

    <div class="dialog-header layout-row layout-align-start-center">
      <div class="title">Set Profile Picture</div>
      <span class="flex"></span>
      <div class="close-btn" {{action "close"}}>
        {{paper-icon icon="close"}}
      </div>
    </div>

    {{#paper-dialog-content}}
      {{#if avatar.showCropper}}
        {{avatar-cropper}}
      {{else}}
        {{avatar-upload-box}}
      {{/if}}
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}
