<div class="main-grade layout-row layout-align-start-center">
  <div class="grade-avg-box">
    <div class="grade">{{grade-html "avg" grades}}</div>
    <div class="label">Average</div>
  </div>

  <span class="flex"></span>

  <div class="grade-total-box">
    <div class="label">Total</div>
    <div class="grade">{{grade-html "total" grades}}</div>
  </div>
</div>

<div class="grade-details">
  <div class="individual-grade-box layout-row layout-align-start-center">
    <div class="grade-index">5</div>
    <div class="star-box">
      {{paper-icon "star"}}
      {{paper-icon "star"}}
      {{paper-icon "star"}}
      {{paper-icon "star"}}
      {{paper-icon "star"}}
    </div>
    <span class="flex"></span>
    <div class="number-of-grades">{{grade-html "5" grades}}</div>
  </div>

  <div class="individual-grade-box layout-row layout-align-start-center">
    <div class="grade-index">4</div>
    <div class="star-box">
      {{paper-icon "star"}}
      {{paper-icon "star"}}
      {{paper-icon "star"}}
      {{paper-icon "star"}}
    </div>
    <span class="flex"></span>
    <div class="number-of-grades">{{grade-html "4" grades}}</div>
  </div>

  <div class="individual-grade-box layout-row layout-align-start-center">
    <div class="grade-index">3</div>
    <div class="star-box">
      {{paper-icon "star"}}
      {{paper-icon "star"}}
      {{paper-icon "star"}}
    </div>
    <span class="flex"></span>
    <div class="number-of-grades">{{grade-html "3" grades}}</div>
  </div>

  <div class="individual-grade-box layout-row layout-align-start-center">
    <div class="grade-index">2</div>
    <div class="star-box">
      {{paper-icon "star"}}
      {{paper-icon "star"}}
    </div>
    <span class="flex"></span>
    <div class="number-of-grades">{{grade-html "2" grades}}</div>
  </div>

  <div class="individual-grade-box layout-row layout-align-start-center">
    <div class="grade-index">1</div>
    <div class="star-box">
      {{paper-icon "star"}}
    </div>
    <span class="flex"></span>
    <div class="number-of-grades">{{grade-html "1" grades}}</div>
  </div>
</div>
