<div class="layout-row layout-align-start-center" {{action "toggleRespond"}}>
  <div class="avatar">
    {{#if item.profile_image}}
      <img src="{{item.profile_image}}">
    {{else}}
      {{paper-icon "account-circle"}}
    {{/if}}
  </div>
  <div class="text">
    <p class="name">{{item.name}}</p>
    <p class="date">{{moment-format item.timestamp "MMMM Do, h:mm a"}}</p>
  </div>

  <span class="flex"></span>

  {{#if respond}}
    <div class="icon">{{paper-icon "close"}}</div>
  {{else}}
    {{#if item.message_id}}
      <div class="icon no-color">{{paper-icon "email"}}</div>
    {{else}}
      <div class="icon no-color">{{paper-icon "assignment-ind"}}</div>
    {{/if}}
  {{/if}}
</div>

{{#if respond}}
  {{#if item.message_id}}
    <p class="body">{{item.text}}</p>

    <div class="preloader {{if preloader 'visible' 'hidden'}}">
      {{paper-progress-linear}}
    </div>

    <div class="respond-box layout-row layout-align-center-center">
      <div class="outline-btn" {{action "deleteMessage"}}>Delete Message</div>
    </div>

  {{else}}
    {{#if isInitial}}
      <div class="respond-box layout-row layout-align-center-center">
        <div>
          <div class="outline-btn" {{action "promptDenyRequest"}}>Deny</div>
          <div class="outline-btn" {{action "approveRequest"}}>Approve</div>
        </div>
      </div>
    {{/if}}

    {{#if isApprove}}
      {{#paper-select
        required=true
        label="Assign job title"
        selected=selectedJobTitle
        options=jobTitles
        onChange=(action (mut selectedJobTitle)) as |jobTitle|}}
        {{jobTitle}}
      {{/paper-select}}

      {{#paper-checkbox value=isManager onChange=(action (mut isManager))}}
        Add as manager
      {{/paper-checkbox}}

      <div class="preloader {{if preloader 'visible' 'hidden'}}">
        {{paper-progress-linear}}
      </div>

      <div class="respond-box layout-row layout-align-center-center">
        <div class="outline-btn" {{action "addEmployee"}}>Add Employee</div>
      </div>
    {{/if}}

    {{#if isDeny}}
      <div class="info-message">Do you really want to deny this request?</div>
      <div class="respond-box layout-row layout-align-center-center">
        <div class="outline-btn" {{action "denyRequest" item}}>Yes, Deny</div>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
