<div class="user-list-item-profile layout-row layout-align-start-center">
  {{#if order}}
    <div class="order-number">{{orderNum}}</div>
  {{/if}}

  <div class="image layout-row layout-column layout-align-center-center">
    {{#if user.profile.profile_image}}
      <img src="{{user.profile.profile_image}}" alt="">
    {{else}}
      <div class="initials">
        {{initials.first}}{{initials.last}}
      </div>
    {{/if}}
  </div>

  <div>
    <div class="name">
      {{user.profile.first_name}} {{user.profile.last_name}}
    </div>

    {{#if user.job_title}}
      <div class="meta">
        {{user.job_title}}
      </div>
    {{/if}}

    {{#if user.grade_timestamp}}
      <div class="meta">
        {{moment-format user.grade_timestamp "h:mm a"}}
      </div>
    {{/if}}
  </div>

  <span class="flex"></span>

  {{#if icon}}
    {{#if toggleState}}
      {{paper-icon "close"}}
    {{else}}
      {{paper-icon icon}}
      {{#if icon2}}
        {{paper-icon icon2}}
      {{/if}}
    {{/if}}
  {{/if}}

  {{#if user.grade_value}}
    {{#unless toggleState}}
      <div class="grade">
        <span class="value">{{user.grade_value}}</span>
      </div>
    {{/unless}}
  {{/if}}

  {{#if user.grades}}
    {{#unless toggleState}}
      <div class="grade">
        <span class="value">{{grade-html "avg" user.grades}}</span> / <span>{{grade-html "total" user.grades}}</span>
      </div>
      <!-- {{#if user.grades}}
      {{else}}
        <div class="no-grades">No Grades</div>
      {{/if}} -->
    {{/unless}}
  {{/if}}
</div>

{{#if toggleState}}
  <div class="user-list-item-content">
    {{yield}}
  </div>
{{/if}}
