{{#app-page title="Account" class="account-page"}}
  {{#app-page-card
    header=false
  }}
    <div class="info-item">created: <span class="value">{{moment-calendar model.created}}</span></div>
    <div class="info-item">email: <span class="value">{{model.email}}</span></div>

    {{#if editEmail}}
      {{#paper-form onSubmit=(action "saveNewEmail") as |form|}}
        <div class="inline-form">
          <div class=title>Change Email Address</div>
          <div class="form">
            {{paper-input
              label="New Email Address"
              type="email" value=newEmail
              onChange=(action (mut newEmail))
              required=true
            }}
            {{paper-input
              label="Password"
              type="password"
              value=password
              onChange=(action (mut password))
              required=true
              minlength=6
            }}

            <div class="remote-error">{{error_msg_email}}</div>

            <div class="outline-btn" {{action "cancelEditEmail"}}>Cancel</div>
            <div class="filled-btn" {{action form.onSubmit}}>Save New Email Address</div>
          </div>
        </div>
      {{/paper-form}}

    {{else}}
      <div class="outline-btn" {{action "editEmail"}}>Change Email Address</div>
    {{/if}}

  {{/app-page-card}}

  {{#app-page-card title="Email Verification"}}
    {{#if model.email_verified}}
      {{paper-icon "check"}}
      <p class="email-verify-msg">Your email is verified</p>
    {{else}}
      <p class="email-verify-msg">Your email address isn't verified</p>
      <div class="filled-btn" {{action "verifyEmail"}}>
        Verify Email Address
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}
