{{#app-page
  title="Account"
  class="account-page"
  contentReady=true
}}
  {{#app-page-card
    title="Email Address"
  }}
    <div class="account-email">{{currentEmail}}</div>

    {{#if emailVerified}}
      <div class="email-verification-msg">
        <div class="inner">
          {{paper-icon "verified-user"}}
          <p>Your email is verified</p>
        </div>
      </div>

      {{#if editEmail}}
        {{#paper-form onSubmit=(action "saveNewEmail") as |form|}}
          <div class="inline-form">
            <div class="form">
              {{paper-input
                label="New Email Address"
                type="email" value=newEmail
                onChange=(action (mut newEmail))
                required=true
              }}
              {{paper-input
                label="Password"
                type="password"
                value=password
                onChange=(action (mut password))
                required=true
                minlength=6
              }}

              {{#if error_msg}}
                <div class="message-box error">
                  {{paper-icon "error"}}
                  <div class="message">{{error_msg}}</div>
                </div>
              {{/if}}

              <div class="preloader {{if preloader 'visible' 'hidden'}}">
                {{paper-progress-linear}}
              </div>

              <div class="outline-btn" {{action "cancelEditEmail"}}>Cancel</div>
              <div class="filled-btn" {{action form.onSubmit}}>Save New Email Address</div>
            </div>
          </div>
        {{/paper-form}}

      {{else}}
        <div class="outline-btn" {{action "editEmail"}}>Change Email Address</div>
      {{/if}}

    {{else}}
      <div class="email-verification-msg unverified">
        <div class="inner">
          {{paper-icon "error"}}
          <p>Your email address isn't verified</p>
        </div>
      </div>

      <div class="preloader {{if preloader2 'visible' 'hidden'}}">
        {{paper-progress-linear}}
      </div>

      {{#unless verifyEmailSent}}
        <div class="outline-btn" {{action "verifyEmail"}}>Verify Email Address</div>
      {{/unless}}
    {{/if}}
  {{/app-page-card}}

  {{#if emailVerified}}
    {{#app-page-card title="Password"}}
      {{#if editPassword}}
        {{#paper-form onSubmit=(action "saveNewPassword") as |form|}}
          <div class="inline-form">
            <div class="form">
              {{paper-input
                label="Old Password"
                type="password"
                value=password
                onChange=(action (mut password))
                required=true
                minlength=6
              }}
              {{paper-input
                label="New Password"
                type="password"
                value=newPassword
                onChange=(action (mut newPassword))
                required=true
                minlength=6
              }}

              {{#if error_msg}}
                <div class="message-box error">
                  {{paper-icon "error"}}
                  <div class="message">{{error_msg}}</div>
                </div>
              {{/if}}

              {{#if success_msg}}
                <div class="message-box success">
                  {{paper-icon "check-circle"}}
                  <div class="message">{{success_msg}}</div>
                </div>
              {{/if}}

              <div class="preloader {{if preloader 'visible' 'hidden'}}">
                {{paper-progress-linear}}
              </div>

              {{#if passwordChanged}}
                <div class="filled-btn" {{action "cancelEditPassword"}}>OK</div>
              {{else}}
                <div class="outline-btn" {{action "cancelEditPassword"}}>Cancel</div>
                <div class="filled-btn" {{action form.onSubmit}}>Save New Password</div>
              {{/if}}
            </div>
          </div>
        {{/paper-form}}

      {{else}}
        <div class="outline-btn" {{action "editPassword"}}>Change Password</div>
        <!-- <div class="outline-btn" {{action "forgotPassword"}}>I Forgot My Password</div> -->
      {{/if}}
    {{/app-page-card}}
  {{/if}}
{{/app-page}}
