{{#app-page title="Check In/Out"
  contentReady=checking.ready
}}
  {{#app-page-card
    title="Current Status"
    resizeable=true
    info="This is your current status. Here you can check out manually and edit check in time. Check in for the shift will enable you to grade and to be graded by coworkers for the time you worked togeather."
  }}
    {{#if checking.workplaceExist}}
      {{#if checking.checkedIn}}
        <div class="checkin-status-box">
          <div class="header layout-row layout-align-start-center">
            <div class="title">Checked In</div>
            <span class="flex"></span>
            <div class="status-icon">
              {{paper-icon "alarm-on"}}
            </div>
          </div>
          <div class="meta-box">
            <div class="from-now">{{moment-from-now checking.checkedInAt}}</div>
            <div class="full-time">{{moment-format checking.checkedInAt "dddd, MMMM Do, h:mm a"}}</div>
          </div>
        </div>

        <div class="auto-checkout" {{action "editAutoCheckOut"}}>
          <span>Auto check out at: <br> <span class="date">{{moment-format checking.autoCheckOutAt "dddd, MMMM Do, h:mm a"}}</span></span>
            <div class="edit-btn">
              {{paper-icon "edit"}}
            </div>
        </div>

        <div class="outline-btn center" {{action "checkOutEdit"}}>Check Out</div>

      {{else}}
        <div class="checkin-status-box out">
          <div class="header layout-row layout-align-start-center">
            <div class="title">Checked Out</div>
            <span class="flex"></span>
            <div class="status-icon">
              {{paper-icon "alarm-off"}}
            </div>
          </div>

          {{#if checking.checkedOutAt}}
            <div class="meta-box">
              <div class="from-now">{{moment-from-now checking.checkedOutAt}}</div>
              <div class="full-time">{{moment-format checking.checkedOutAt "dddd, MMMM Do, h:mm a"}}</div>
            </div>
          {{/if}}
        </div>

        {{#unless checkInEdit}}
          <div class="outline-btn center" {{action "checkInEdit"}}>Check In</div>
        {{/unless}}

      {{/if}}

    <!-- WORKPLACE DOESNT EXIST -->
    {{else}}
      <div class="rich-info">
        {{paper-icon "alarm-on"}}
        <p>You are not added to any business or your request is pending at this moment. Please got to Workplace page and check your currrent status.</p>
      </div>
    {{/if}}
  {{/app-page-card}}


  {{#app-page-card
    title="History"
    resizeable=true
    info="Preview of your check in activity."
  }}
    {{#if checking.history.length}}
      <div class="checkin-history-list">
        {{#each checking.history as |check|}}
          {{checkin-history-item check=check}}
        {{/each}}
      </div>

    {{else}}
      <div class="rich-info">
        {{paper-icon "history"}}
        <p>No recent activity</p>
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}


{{#if checkingIn}}
  {{#custom-dialog
    active=checkingIn
    title="Check In"
    info="How many hours will you be working today? You can always check out before 'automatic check out' in case necessary."
  }}
    {{time-chooser
      label="Check me out automatically at:"
      offsetLabel="Working Hours:"
      defaultOffset=6
    }}

    {{custom-dialog-actions
      active=checkingIn
      confirmLabel="Check in"
      confirmAction=(action "checkIn")
      waiting=ci_waiting
      success=ci_success
      error=ci_error
      errorMsg=ci_errorMsg
      successMsg="You are checked in"
    }}
  {{/custom-dialog}}
{{/if}}


{{#if checkingOut}}
  {{#custom-dialog
    title="Check Out"
    active=checkingOut
  }}
    <p class="prompt-info">Would you like to check out before your automatic check out?</p>

    {{custom-dialog-actions
      active=checkingOut
      confirmLabel="Check Out Now"
      confirmAction=(action "checkOut")
      waiting=co_waiting
      success=co_success
      error=co_error
      errorMsg=co_errorMsg
      successMsg="You are checked out"
    }}
  {{/custom-dialog}}
{{/if}}


{{#if editingAutoCheckOut}}
  {{#custom-dialog
    title="Update Auto Check Out Time"
    active=editingAutoCheckOut
    info="How many hours will you be working today? You can always check out before 'automatic check out' in case necessary."
  }}
    {{time-chooser
      label="Check me out automatically at:"
      offsetLabel="Working Hours:"
      startTime=checking.autoCheckOutAt
    }}

    {{custom-dialog-actions
      active=editingAutoCheckOut
      confirmLabel="Update Time"
      confirmAction=(action "updateAutoCheckOut")
      waiting=ua_waiting
      success=ua_success
      error=ua_error
      errorMsg=ua_errorMsg
      successMsg="Successfully updated auto check out time"
    }}
  {{/custom-dialog}}
{{/if}}
