{{#app-page title="Check In/Out"}}
  {{#app-page-card
    title="Current Status"
    resizeable=true
    info="This is your current check in status..."
  }}
    {{#if checkedIn}}
      <div class="checkin-status-box">
        <div class="header layout-row layout-align-start-center">
          <div class="title">Checked In</div>
          <span class="flex"></span>
          <div class="status-icon">
            {{paper-icon "alarm-on"}}
          </div>
        </div>
        <div class="meta-box">
          <div class="from-now">{{moment-from-now checkedIn}}</div>
          <div class="full-time">{{moment-format checkedIn "dddd, MMMM Do, h:mm a"}}</div>
        </div>
      </div>

      <div class="auto-checkout">
        <span>Auto check out at: {{moment-format autoCheckOut "h:mm a"}}</span>
          <div class="edit-btn">
            {{paper-icon "edit"}}
          </div>
      </div>

      <div class="outline-btn center" {{action "checkOutEdit"}}>Check Out</div>

    {{else}}
      <div class="checkin-status-box out">
        <div class="header layout-row layout-align-start-center">
          <div class="title">Checked Out</div>
          <span class="flex"></span>
          <div class="status-icon">
            {{paper-icon "alarm-off"}}
          </div>
        </div>

        {{#if checkedOut_value}}
          <div class="meta-box">
            <div class="from-now">{{moment-from-now checkedOut_value}}</div>
            <div class="full-time">{{moment-format checkedOut_value "dddd, MMMM Do, h:mm a"}}</div>
          </div>
        {{/if}}
      </div>

      {{#unless checkInEdit}}
        <div class="outline-btn center" {{action "checkInEdit"}}>Check In</div>
      {{/unless}}

    {{/if}}
  {{/app-page-card}}


  {{#app-page-card
    title="History"
    resizeable=true
    info="This is history of check ins..."
  }}
    {{#if history.length}}
    <div class="checkin-history-list">
      {{#each history as |check|}}
        {{checkin-history-item check=check}}
      {{/each}}
    </div>

    {{else}}
      <div class="info-message">No history available</div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}

{{#if checkingOut}}
  {{#custom-dialog
    title="Check Out"
    active=checkingOut
  }}
    <p class="prompt-info">Please confirm that you want to check out right now.</p>

    {{custom-dialog-actions
      active=checkingOut
      confirmLabel="Check Out Now"
      confirmAction=(action "checkOut")
      waiting=co_waiting
      success=co_success
      error=co_error
      errorMsg=co_errorMsg
      successMsg="You are checked out"
    }}
  {{/custom-dialog}}
{{/if}}

{{#if checkingIn}}
  {{#custom-dialog
    title="Check In"
    active=checkingIn
  }}
    {{#paper-form onSubmit=(action "checkIn") as |form|}}

      <p class="form-info">How many hours will you be working today? You can always check out before "automatic check out" in case necessary.</p>

      {{paper-input
        label="Working Hours"
        type="number"
        value=checkOutHours
        onChange=(action (mut checkOutHours))
        required=true
      }}

      <div class="checkout-time">
        <div>Auto check out at:</div>
        <div class="time">{{checkOutTime}}</div>
      </div>

      {{custom-dialog-actions
        active=checkingIn
        confirmLabel="Check in"
        confirmAction=form.onSubmit
        waiting=ci_waiting
        success=ci_success
        error=ci_error
        errorMsg=ci_errorMsg
        successMsg="You are checked in"
      }}

    {{/paper-form}}
  {{/custom-dialog}}
{{/if}}
