{{#app-page title="Check-In/Out"
  contentReady=checking.ready
}}

  <!-- WORKPLACE ACTIVE : TRUE -->
  {{#if workplace.active}}
    {{#app-page-card
      title="Status"
      resizeable=true
      info="Checking in for the shift will enable you to grade and be graded."
    }}

      {{#if checking.checkedIn}}
        <div class="checkin-status-box">
          <div class="header layout-row layout-align-start-center">
            <div class="title">Checked In</div>
            <span class="flex"></span>
            <div class="status-icon">
              {{paper-icon "alarm-on"}}
            </div>
          </div>
          <div class="meta-box">
            <div class="from-now">{{moment-from-now checking.checkedInAt}}</div>
            <div class="full-time">{{moment-format checking.checkedInAt "dddd, MMMM Do, h:mm a"}}</div>
          </div>
        </div>

        <div class="auto-checkout" {{action "editAutoCheckOut"}}>
          <span>Auto check out at: <br> <span class="date">{{moment-format checking.autoCheckOutAt "dddd, MMMM Do, h:mm a"}}</span></span>
          <div class="edit-btn">
            {{paper-icon "edit"}}
          </div>
        </div>

        <div class="outline-btn center" {{action "checkOutEdit"}}>Check Out</div>

      {{else}}

        <div class="checkin-status-box out">
          <div class="header layout-row layout-align-start-center">
            <div class="title">Checked Out</div>
            <span class="flex"></span>
            <div class="status-icon">
              {{paper-icon "alarm-off"}}
            </div>
          </div>

          {{#if checking.checkedOutAt}}
            <div class="meta-box">
              <div class="from-now">{{moment-from-now checking.checkedOutAt}}</div>
              <div class="full-time">{{moment-format checking.checkedOutAt "dddd, MMMM Do, h:mm a"}}</div>
            </div>
          {{/if}}
        </div>

        {{#unless checkInEdit}}
          <div class="outline-btn center" {{action "checkInEdit"}}>Check In</div>
        {{/unless}}

      {{/if}}


    {{/app-page-card}}


    {{#app-page-card
      title="History"
      resizeable=true
      info="Here you can see you previous Check-Ins."
    }}
      {{#if checking.history.length}}
        <div class="checkin-history-list">
          {{#each checking.history as |check|}}
          {{checkin-history-item check=check}}
          {{/each}}
        </div>

      {{else}}
        <div class="rich-info">
          {{paper-icon "history"}}
          <p>No recent activity</p>
        </div>
      {{/if}}
    {{/app-page-card}}


  {{else}}
  <!-- WORKPLACE ACTIVE : TRUE -->

    {{#app-page-card
      header=false
    }}
      <div class="rich-info">
        {{paper-icon "people"}}
        <p>You are not linked to an employer.</p>
      </div>
    {{/app-page-card}}


  {{/if}}

{{/app-page}}


{{#if checkingIn}}
  {{#custom-dialog
    active=checkingIn
    title="Check-In"
    info="Set Check-out time and Check-in."
  }}
    {{time-chooser
      label="Check me out automatically at:"
      defaultOffset=6
    }}

    {{custom-dialog-actions
      active=checkingIn
      confirmLabel="Check in"
      confirmAction=(action "checkIn")
      waiting=ci_waiting
      success=ci_success
      error=ci_error
      errorMsg=ci_errorMsg
      successMsg="You are checked in"
    }}
  {{/custom-dialog}}
{{/if}}


{{#if checkingOut}}
  {{#custom-dialog
    title="Check-Out"
    active=checkingOut
  }}
    <p class="prompt-info">Are you sure you want to Check-Out now?</p>

    {{custom-dialog-actions
      active=checkingOut
      confirmLabel="Check-Out"
      confirmAction=(action "checkOut")
      waiting=co_waiting
      success=co_success
      error=co_error
      errorMsg=co_errorMsg
      successMsg="You are Checked Out"
    }}
  {{/custom-dialog}}
{{/if}}


{{#if editingAutoCheckOut}}
  {{#custom-dialog
    title="Edit Check-Out time"
    active=editingAutoCheckOut
    info="If necessary edit you Check-Out."
  }}
    {{time-chooser
      startTime=checking.autoCheckOutAt
    }}

    {{custom-dialog-actions
      active=editingAutoCheckOut
      confirmLabel="Update Time"
      confirmAction=(action "updateAutoCheckOut")
      waiting=ua_waiting
      success=ua_success
      error=ua_error
      errorMsg=ua_errorMsg
      successMsg="Successfully updated Check-Out time"
    }}
  {{/custom-dialog}}
{{/if}}
