<div class="layout layout-align-center-center">
  <div class="layout-column card">

    {{#each model as |user|}}
      <!-- {{#each-in user as |key value|}}
        {{key}}:{{value}}
      {{/each-in}} -->

      <h3>{{user.auth_uid}}</h3>
      <h3>{{user.full_name}}</h3>
      <h3>{{user.email}}</h3>
    {{/each}}
  </div>
</div>
