{{#app-page
  title="Employees"
  contentReady=employees.ready
}}
  {{#app-page-card
    title="Staff"
    title_count=employees.staff.length
    resizeable=true
    info="Info goes here"
    class="sorting"
  }}
    {{#if employees.staff}}
      {{#sort-box
        props=(arr 'average_grade' 'total_grades' 'first_name')
        labels=(arr 'by average grade' 'by number of grades' 'alphabetically')
        unsortedList=employees.staff as |sortedList|
      }}
        {{#each sortedList as |employee|}}
          {{user-list-item user=employee}}
        {{/each}}
      {{/sort-box}}

    {{else}}
      <div class="rich-info">
        {{paper-icon "people"}}
        <p>No employees yet</p>
      </div>
    {{/if}}
  {{/app-page-card}}

  {{#app-page-card
    title="Management"
    title_count=employees.management.length
    resizeable=true
    info="Info goes here"
    class="sorting"
  }}
    {{#if employees.management}}
      {{#sort-box
        props=(arr 'average_grade' 'total_grades' 'first_name')
        labels=(arr 'by average grade' 'by number of grades' 'alphabetically')
        unsortedList=employees.management as |sortedList|
      }}
        {{#each sortedList as |employee|}}
          {{user-list-item user=employee}}
        {{/each}}
      {{/sort-box}}

    {{else}}
      <div class="rich-info">
        {{paper-icon "people"}}
        <p>No employees yet</p>
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}
