{{#app-page
  title="Team"
  contentReady=employees.ready
}}
  {{#app-page-card
    title="Employees"
    title_count=employees.staff.length
    resizeable=true
    info="List of all employees, their average grades and the number of grades. Sort people by average grade, the number of grades or alphabetically."
    class="sorting"
    refreshAction="refreshEmployees"
  }}
    {{#if employees.staff}}
      {{#sort-box
        props=(arr 'grades.average' 'grades.total' 'first_name')
        labels=(arr 'by average grade' 'by number of grades' 'alphabetically')
        unsortedList=employees.staff as |sortedList|
      }}
        {{#each sortedList as |employee|}}
          {{user-list-item
            user=employee
            action=(action "showInfo" employee)
          }}
        {{/each}}
      {{/sort-box}}

    {{else}}
      <div class="rich-info">
        {{paper-icon "people"}}
        <p>No employees yet</p>
      </div>
    {{/if}}
  {{/app-page-card}}

  {{#app-page-card
    title="Management"
    title_count=employees.management.length
    resizeable=true
    info="List of all managers, their average grades and the number of grades. Sort people by average grade, the number of grades or alphabetically. This list is visible to Admin and Manager accounts only."
    class="sorting"
    refreshAction="refreshEmployees"
  }}
    {{#if employees.management}}
      {{#sort-box
        props=(arr 'grades.average' 'grades.total' 'first_name')
        labels=(arr 'by average grade' 'by number of grades' 'alphabetically')
        unsortedList=employees.management as |sortedList|
      }}
        {{#each sortedList as |employee|}}
          {{user-list-item
            user=employee
            action=(action "showInfo" employee)
          }}
        {{/each}}
      {{/sort-box}}

    {{else}}
      <div class="rich-info">
        {{paper-icon "people"}}
        <p>No employees yet</p>
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}
