{{#app-page
  title="Employee Info"
  contentReady=true
  backButton=true
}}
  {{#app-page-card
    header=false
    class="profile-card"
  }}
    {{#if user.accountType.business}}
      <div class="action-btn right" {{action "promptRemoveEmployee"}}>
        {{paper-icon "delete"}}
      </div>
    {{/if}}

    <div class="profile-intro">
      <div class="profile-image layout-row layout-align-center-center">
        {{#if model.profile_image}}
          <img src="{{model.profile_image}}" alt="">
        {{else}}
          {{paper-icon "person"}}
        {{/if}}
      </div>

      <div class="profile-name">
        <h1>{{model.first_name}} {{model.last_name}}</h1>
        <h2>{{model.job_title}}</h2>
      </div>
    </div>
  {{/app-page-card}}

  {{#app-page-card
    title="Grades"
    resizeable=true
    info="Your average grade and distribution of all grades given to you."
  }}
    {{#if model.grades.all_grades}}
      <div class="main-grade layout-row layout-align-start-center">
        <div class="grade-avg-box">
          <div class="grade">{{grade-html "avg" model.grades.all_grades}}</div>
          <div class="label">Average</div>
        </div>

        <span class="flex"></span>

        <div class="grade-total-box">
          <div class="label">Total</div>
          <div class="grade">{{grade-html "total" model.grades.all_grades}}</div>
        </div>
      </div>

      <div class="grade-details">
        <div class="individual-grade-box layout-row layout-align-start-center">
          <div class="grade-index">5</div>
          <div class="star-box">
            {{paper-icon "star"}}
            {{paper-icon "star"}}
            {{paper-icon "star"}}
            {{paper-icon "star"}}
            {{paper-icon "star"}}
          </div>
          <span class="flex"></span>
          <div class="number-of-grades">{{grade-html "5" model.grades.all_grades}}</div>
        </div>

        <div class="individual-grade-box layout-row layout-align-start-center">
          <div class="grade-index">4</div>
          <div class="star-box">
            {{paper-icon "star"}}
            {{paper-icon "star"}}
            {{paper-icon "star"}}
            {{paper-icon "star"}}
          </div>
          <span class="flex"></span>
          <div class="number-of-grades">{{grade-html "4" model.grades.all_grades}}</div>
        </div>

        <div class="individual-grade-box layout-row layout-align-start-center">
          <div class="grade-index">3</div>
          <div class="star-box">
            {{paper-icon "star"}}
            {{paper-icon "star"}}
            {{paper-icon "star"}}
          </div>
          <span class="flex"></span>
          <div class="number-of-grades">{{grade-html "3" model.grades.all_grades}}</div>
        </div>

        <div class="individual-grade-box layout-row layout-align-start-center">
          <div class="grade-index">2</div>
          <div class="star-box">
            {{paper-icon "star"}}
            {{paper-icon "star"}}
          </div>
          <span class="flex"></span>
          <div class="number-of-grades">{{grade-html "2" model.grades.all_grades}}</div>
        </div>

        <div class="individual-grade-box layout-row layout-align-start-center">
          <div class="grade-index">1</div>
          <div class="star-box">
            {{paper-icon "star"}}
          </div>
          <span class="flex"></span>
          <div class="number-of-grades">{{grade-html "1" model.grades.all_grades}}</div>
        </div>
      </div>

    {{else}}
      <div class="rich-info">
        {{paper-icon "star"}}
        <p>User is not graded</p>
      </div>
    {{/if}}
  {{/app-page-card}}


  {{#app-page-card
    title="Comments"
    resizeable=true
    info="Your average grade and distribution of all grades given to you."
  }}
    {{#if model.grades.comments}}
      {{#each model.grades.comments as |comment|}}
        {{comment-box comment=comment}}
      {{/each}}

    {{else}}
      <div class="rich-info">
        {{paper-icon "chat"}}
        <p>User doesn't have comments yet</p>
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}

{{#if removingEmployee}}
  {{#custom-dialog
    title="Remove this profile"
    active=removingEmployee
  }}
    <p class="prompt-info">Are you sure you want to remove profile?</p>

    {{custom-dialog-actions
      active=removingEmployee
      confirmLabel="Yes"
      confirmAction=(action "removeEmployee" model)
      waiting=re_waiting
      success=re_success
      error=re_error
      successMsg="You successfully removed employee"
    }}
  {{/custom-dialog}}
{{/if}}
