{{#app-page-card class="sign-up-form" header=false}}
  {{#if success_sent}}
    <p class="info-text">We sent you the instructions on your email. After you change your password you're going to be able to sign in with your new password.</p>
    <div class="outline-btn" {{action "cancel"}}>Sign In</div>
  {{else}}

    <p class="info-text">Enter your email address associated with your account and we'll send you an email with instructions on how to reset your password</p>
    {{#paper-form onSubmit=(action "resetPassword") as |form|}}
      {{#paper-form onSubmit=(action "resetPassword") as |form|}}

        {{paper-input
          label="email"
          type="email"
          value=email
          required=true
          onChange=(action (mut email))
        }}

        <div class="remote-error">{{error_msg}}</div>

        <div class="filled-btn" {{action form.onSubmit}}>Send Instructions</div>

        <div class="outline-btn" {{action "cancel"}}>Cancel</div>
      {{/paper-form}}
    {{/paper-form}}

    {{/if}}
{{/app-page-card}}
