<!-- **************************** -->
<!-- AUTHENTICATED                -->
<!-- **************************** -->
{{#if session.isAuthenticated}}

  {{#app-page
    title="Forgot Password"
    contentReady=true
  }}
    {{#app-page-card header=false}}
      <div class="info-message">Enter a valid email to receive instructions to reset your password</div>

      {{#paper-form class="form" onSubmit=(action "resetPassword") as |form|}}
        {{#paper-form onSubmit=(action "resetPassword") as |form|}}
          {{paper-input
            label="email"
            type="email"
            value=email
            required=true
            onChange=(action (mut email))
          }}

          {{#if error_msg}}
            <div class="remote-error">{{error_msg}}</div>
          {{/if}}

          <div class="preloader {{if preloader 'visible' 'hidden'}}">
            {{paper-progress-linear}}
          </div>

          <div class="filled-btn centered" {{action form.onSubmit}}>Send Instructions</div>
        {{/paper-form}}
      {{/paper-form}}

      <div class="outline-btn centered" {{action "cancel"}}>Cancel</div>
    {{/app-page-card}}
  {{/app-page}}


<!-- **************************** -->
<!-- UNAUTHENTICATED              -->
<!-- **************************** -->

{{else}}
  <div class="gate-title">Forgot Password</div>

  {{#if success_sent}}
    <div class="form">
      {{paper-icon "checked"}}
      <p class="form-info">Instructions sent, please check your email.</p>
      <div class="filled-btn centered" {{action "cancel"}}>Sign In</div>
    </div>

  {{else}}
    {{#paper-form class="form" onSubmit=(action "resetPassword") as |form|}}
      {{#paper-form onSubmit=(action "resetPassword") as |form|}}
        <p class="form-info">Enter your email address associated with your account and we'll send you an email that will help you create a new password for your account</p>

        {{paper-input
          label="email"
          type="email"
          value=email
          required=true
          onChange=(action (mut email))
          class="padding"
        }}

        {{#if error_msg}}
          <div class="remote-error">{{error_msg}}</div>
        {{/if}}

        <div class="preloader {{if preloader 'visible' 'hidden'}}">
          {{paper-progress-linear}}
        </div>

        <div class="filled-btn centered" {{action form.onSubmit}}>Send Instructions</div>
      {{/paper-form}}
    {{/paper-form}}

    <div class="outline-btn centered" {{action "cancel"}}>Cancel</div>
  {{/if}}

{{/if}}
