{{#app-page
  title="Notifications"
  contentReady=notifications.ready
}}

  <!-- REQUESTS -->

  {{#if user.accountType.business}}
    {{#app-page-card
      title="Requests"
      title_count=notifications.requests.length
      resizeable=true
      info='Requests from profiles that want to be listed as employees in your business. Requests can be approved or denied, if approved, choosing job title is required. To give manager authorization to a profile "add as manager" needs to be checked.'
    }}
      {{#if notifications.requests.length}}
        <div class="requests">
          {{#each notifications.requests as |request|}}
            {{notify-item item=request type="request"}}
          {{/each}}
        </div>
      {{else}}
        <div class="rich-info">
          {{paper-icon "assignment-ind"}}
          <p>No requests</p>
        </div>
      {{/if}}
    {{/app-page-card}}
  {{/if}}

  <!-- MESSAGES -->

  {{#app-page-card
    title="Messages"
    title_count=notifications.messages.length
    resizeable=true
    info="Notification inbox. Delete notifications to clear inbox."
  }}
    {{#if notifications.messages.length}}
      <div class="messages">
        {{#each notifications.messages as |message|}}
          {{notify-item item=message type="message"}}
        {{/each}}
      </div>
    {{else}}
      <div class="rich-info">
        {{paper-icon "mail-outline"}}
        <p>No messages</p>
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}
