<div class="layout-column card">
  <h3 class="title">Profile</h3>
  <p>created: <span class="value">{{moment-calendar model.created}}</span></p>
  <p>updated: <span class="value">{{model.updated}}</span></p>
  <p>first name: <span class="value">{{model.first_name}}</span></p>
  <p>last name: <span class="value">{{model.last_name}}</span></p>
  <p>username: <span class="value">{{model.username}}</span></p>
  <p>country: <span class="value">{{model.country}}</span></p>
  <p>state: <span class="value">{{model.state}}</span></p>
  <p>city: <span class="value">{{model.city}}</span></p>
  <p>zipcode: <span class="value">{{model.zipcode}}</span></p>
  <p>profile_image: <span class="value">{{model.profile_image}}</span></p>
</div>
