{{#app-page
  title="Profile"
  contentReady=true
}}
  {{#app-page-card
    header=false
    class="profile-card"
  }}
    <div class="profile-intro">
      <div class="profile-image" {{action "editAvatar"}}>
        {{#if model.profile.profile_image}}
          <img src="{{model.profile.profile_image}}" alt="">
        {{else}}
          {{paper-icon "account-circle"}}
        {{/if}}
      </div>

      <div class="profile-name">
        <h1>{{model.profile.first_name}} {{model.profile.last_name}}</h1>
      </div>
    </div>
  {{/app-page-card}}

  {{#app-page-card
    title="My Grade"
    resizeable=true
    info="Visible to restaurant group members only. Preview of your average grade and all grade's given to you."
  }}
    <div class="main-grade layout-row layout-align-start-center">
      <div class="grade-avg-box">
        <div class="grade">{{grade-html "avg" model.grades}}</div>
        <div class="label">Average</div>
      </div>

      <span class="flex"></span>

      <div class="grade-total-box">
        <div class="label">Total</div>
        <div class="grade">{{grade-html "total" model.grades}}</div>
      </div>
    </div>

    <div class="grade-details">
      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">5</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "5" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">4</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "4" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">3</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "3" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">2</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "2" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">1</div>
        <div class="star-box">
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "1" model.grades}}</div>
      </div>
    </div>
  {{/app-page-card}}

  {{#app-page-card
    title="Personal Info"
    resizeable=true
    info="Visible to public. Edit personal information in Edit Profile section bellow."
  }}
    <p class="label">First Name: <span class="value">{{model.profile.first_name}}</span></p>
    <p class="label">Last Name: <span class="value">{{model.profile.last_name}}</span></p>
    <p class="label">Username: <span class="value">{{model.profile.username}}</span></p>

    {{#if model.profile.country}}
      <p class="label">Country: <span class="value">{{model.profile.country}}</span></p>
    {{/if}}

    {{#if model.profile.state}}
      <p class="label">State: <span class="value">{{model.profile.state}}</span></p>
    {{/if}}

    {{#if model.profile.city}}
      <p class="label">City: <span class="value">{{model.profile.city}}</span></p>
    {{/if}}

    {{#if model.profile.zipcode}}
      <p class="label">Zipcode: <span class="value">{{model.profile.zipcode}}</span></p>
    {{/if}}
  {{/app-page-card}}

  {{#app-page-card
    title="Edit Profile"
    resizeable=true
  }}
    {{#if editingProfile}}

    {{else}}
      <div class="outline-btn" {{action "editAvatar"}}>Change Profile Picture</div>
      <div class="outline-btn" {{action "editProfile"}}>Edit Personal Info</div>
    {{/if}}

  {{/app-page-card}}

{{/app-page}}

{{#if editPersonalInfo}}
  {{#custom-dialog
    title="Edit Personal Info"
    active=editPersonalInfo

  }}
    {{#paper-form onSubmit=(action "saveUserProfile") as |form|}}
      {{paper-input
        label="First Name"
        type="text"
        value=first_name
        onChange=(action (mut first_name))
      }}
      {{paper-input
        label="Last Name"
        type="text"
        value=last_name
        onChange=(action (mut last_name))
      }}
      {{paper-input
        label="Username"
        type="text"
        value=username
        onChange=(action (mut username))
      }}
      {{paper-input
        label="Country"
        type="text"
        value=country
        onChange=(action (mut country))
      }}
      {{paper-input
        label="State"
        type="text"
        value=state
        onChange=(action (mut state))
      }}
      {{paper-input
        label="City"
        type="text"
        value=city
        onChange=(action (mut city))
      }}
      {{paper-input
        label="Zipcode"
        type="text"
        value=zipcode
        onChange=(action (mut zipcode))
      }}

      {{custom-dialog-actions
        active=editPersonalInfo
        confirmLabel="Save Changes"
        confirmAction=form.onSubmit
        waiting=pi_waiting
        success=pi_success
        error=pi_error
        errorMsg=pi_errorMsg
        successMsg="Successfully saved changes"
      }}

    {{/paper-form}}
  {{/custom-dialog}}
{{/if}}

{{#if editingAvatar}}
  {{#custom-dialog
    title="Change Profile Picture"
    active=editingAvatar
    bottomMargin=false
  }}
    {{#if avatar.showCropper}}
      {{avatar-cropper
        showAvatarDialog=editingAvatar
        action="onAvatarChanged"
      }}
    {{else}}
      {{avatar-upload-box}}
    {{/if}}
  {{/custom-dialog}}
{{/if}}
