{{#app-page title="Profile"}}
  {{#app-page-card
    header=false
    class="profile-card"
  }}
    <div class="profile-intro">
      {{#if model.profile.profile_image}}
        <div class="profile-image">
          <img src="{{model.profile.profile_image}}" alt="">
        </div>
      {{else}}
      <div class="profile-image">
        {{paper-icon "account-circle"}}
      </div>
      {{/if}}

      <div class="profile-name">
        <h1>{{model.profile.first_name}} {{model.profile.last_name}}</h1>
      </div>
    </div>
  {{/app-page-card}}

  {{#app-page-card
    title="Your Grade"
    resizeable=true
    info="This is your public profile information which is visible by all users. If you want to include details in your profile, edit those below."
  }}
    <div class="main-grade layout-row layout-align-start-center">
      <div class="grade-avg-box">
        <div class="grade">{{grade-html "avg" model.grades}}</div>
        <div class="label">Average</div>
      </div>

      <span class="flex"></span>

      <div class="grade-total-box">
        <div class="label">Total</div>
        <div class="grade">{{grade-html "total" model.grades}}</div>
      </div>
    </div>

    <div class="grade-details">
      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">5</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "5" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">4</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "4" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">3</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "3" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">2</div>
        <div class="star-box">
          {{paper-icon "star"}}
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "2" model.grades}}</div>
      </div>

      <div class="individual-grade-box layout-row layout-align-start-center">
        <div class="grade-index">1</div>
        <div class="star-box">
          {{paper-icon "star"}}
        </div>
        <span class="flex"></span>
        <div class="number-of-grades">{{grade-html "1" model.grades}}</div>
      </div>
    </div>
  {{/app-page-card}}

  {{#app-page-card
    title="Personal Info"
    resizeable=true
    info="This is your public profile information which is visible by all users. If you want to include details in your profile, edit those below."
  }}
    <p class="label">First Name: <span class="value">{{model.profile.first_name}}</span></p>
    <p class="label">Last Name: <span class="value">{{model.profile.last_name}}</span></p>
    <p class="label">Username: <span class="value">{{model.profile.username}}</span></p>

    {{#if model.profile.country}}
      <p class="label">Country: <span class="value">{{model.profile.country}}</span></p>
    {{/if}}

    {{#if model.profile.state}}
      <p class="label">State: <span class="value">{{model.profile.state}}</span></p>
    {{/if}}

    {{#if model.profile.city}}
      <p class="label">City: <span class="value">{{model.profile.city}}</span></p>
    {{/if}}

    {{#if model.profile.zipcode}}
      <p class="label">Zipcode: <span class="value">{{model.profile.zipcode}}</span></p>
    {{/if}}
  {{/app-page-card}}

  {{#app-page-card
    title="Edit Profile"
    resizeable=true
  }}
    {{#if editingProfile}}
      {{#paper-form onSubmit=(action "saveProfile") as |form|}}
        <div class="inline-form">
          <div class="form">
            {{paper-input
              label="First Name"
              type="text"
              value=first_name
              onChange=(action (mut first_name))
              required=true
            }}
            {{paper-input
              label="Last Name"
              type="text"
              value=last_name
              onChange=(action (mut last_name))
              required=true
            }}
            {{paper-input
              label="Username"
              type="text"
              value=username
              onChange=(action (mut username))
              required=true
            }}
            {{paper-input
              label="Country"
              type="text"
              value=country
              onChange=(action (mut country))
            }}
            {{paper-input
              label="State"
              type="text"
              value=state
              onChange=(action (mut state))
            }}
            {{paper-input
              label="City"
              type="text"
              value=city
              onChange=(action (mut city))
            }}
            {{paper-input
              label="Zipcode"
              type="text"
              value=zipcode
              onChange=(action (mut zipcode))
            }}

            {{#if error_msg}}
              <div class="message-box error">
                {{paper-icon "error"}}
                <div class="message">{{error_msg}}</div>
              </div>
            {{/if}}

            <div class="preloader {{if preloader 'visible' 'hidden'}}">
              {{paper-progress-linear}}
            </div>

            <div class="outline-btn" {{action "cancelEditProfile"}}>Cancel</div>
            <div class="filled-btn" {{action form.onSubmit}}>Save Changes</div>
          </div>
        </div>
      {{/paper-form}}
    {{else}}
      <div class="outline-btn" {{action "editAvatar"}}>Change Profile Picture</div>
      <div class="outline-btn" {{action "editProfile"}}>Edit Personal Info</div>
    {{/if}}

  {{/app-page-card}}

{{/app-page}}


<!-- SET AVATAR -->
{{avatar-dialog action="onAvatarChanged"}}
