{{#app-page
  title="Rank list"
  contentReady=ranking.ready
}}
  {{#if workplace.active}}
    {{#app-page-card
      class="rank-list"
      refreshAction="refreshRankList"
      rankList=true
      info="Ranking of OTIUM's staff members. Arhitmetic mean/quantity of grades."
      refresh=refreshRealtimeList
    }}

      {{#if ranking.workers}}
        {{#each ranking.workers as |user index|}}
          {{user-list-item user=user}}
        {{/each}}

      {{else}}
        <div class="rich-info">
          {{paper-icon "equalizer"}}
          <p>There are no graded users so far</p>
        </div>
      {{/if}}

      {{#if (or user.accountType.business workplace.data.manager)}}
        {{#if ranking.managers}}
          <div class="managers-label">Managers</div>

          {{#each ranking.managers as |user index|}}
            {{user-list-item user=user}}
          {{/each}}
        {{/if}}
      {{/if}}

    {{/app-page-card}}

  {{else}}
    {{#app-page-card
      header=false
    }}
      <div class="rich-info">
        {{paper-icon "people"}}
        <p>No workplace</p>
      </div>
    {{/app-page-card}}
  {{/if}}
{{/app-page}}
