{{#app-page-card title="Create Account" class="sign-up-form"}}
  {{#paper-form onSubmit=(action "createUser") as |form|}}
    {{paper-input required=true label="First Name" type="text" value=first_name onChange=(action (mut first_name))}}
    {{paper-input required=true label="Last Name" type="text" value=last_name onChange=(action (mut last_name))}}

    {{#unless createAdmin}}
      {{paper-input required=true label="Username" type="text" value=username onChange=(action (mut username))}}
    {{/unless}}

    {{paper-input required=true label="E-mail" type="email" value=email onChange=(action (mut email))}}
    {{paper-input required=true label="Password" type="password" value=password onChange=(action (mut password))}}

    {{#if wiatForAccountCreation}}
      {{paper-progress-linear accent=true}}
    {{/if}}

    {{#paper-switch value=createAdmin onChange=(action (mut createAdmin))}}
      Administrator
    {{/paper-switch}}

    {{#if createAdmin}}
      <p class="info-text">You are about to create administrator account which is meant for restaurant owners. Leave this unchecked if you want to create the regular account. </p>
    {{/if}}

    <div class="remote-error">{{error_msg}}</div>

    <div class="filled-btn" {{action form.onSubmit}}>Submit</div>

  {{/paper-form}}
{{/app-page-card}}
