<div class="layout layout-align-center-center">
  <div class="layout-column login-form card">
    <h3 class="title">Create Account</h3>

    {{#if error_msg}}
      <!-- {{paper-icon "error" size=24}} -->
      <h5>{{error_msg}}</h5>
    {{/if}}

    {{paper-input label="First Name" type="text" value=first_name onChange=(action (mut first_name))}}
    {{paper-input label="Last Name" type="text" value=last_name onChange=(action (mut last_name))}}
    {{paper-input label="E-mail" type="email" value=email onChange=(action (mut email))}}
    {{paper-input label="Password" type="password" value=password onChange=(action (mut password))}}

    {{#if wiatForAccountCreation}}
      {{paper-progress-linear accent=true}}
    {{/if}}

    {{#paper-button raised=true primary=true onClick=(action "createAccount")}}Submit{{/paper-button}}
    {{#paper-button noink=true primary=true onClick=(action "goToSignIn")}}Back to Sign In{{/paper-button}}
  </div>
</div>
