{{#if workplace.ready}}
  {{#app-page title="Workplace"}}
    {{#app-page-card
      resizeable=true
      title="My Current Workplace"
      info="This is where you are currently employed"
    }}
      {{#if workplace.data}}
        <div class="workplace-box">
          <div class="layout-row layout-align-start-center">
            <div class="avatar">
              {{#if workplace.data.profile_image}}
                <img src="{{workplace.data.profile_image}}">
              {{else}}
                {{paper-icon "store-mall-directory"}}
              {{/if}}
            </div>

            <div class="business-info">
              <div class="name">{{workplace.data.name}}</div>
              <div class="city">{{workplace.data.city}} {{workplace.data.state}}</div>
              <div class="address">{{workplace.data.address}}</div>
            </div>

            <span class="flex"></span>

            <div class="status-icon">
              {{#if workplace.data.pending}}
                {{paper-icon "hourglass-empty"}}
              {{else}}
                {{paper-icon "assignment-turned-in" class="approved-icon"}}
              {{/if}}
            </div>
          </div>

          {{#if workplace.data.pending}}
            <div class="pending">Pending Response</div>

          {{else}}
            <div class="info-box">
              <div class="work-meta">Joined: {{moment-format workplace.data.created "MMMM Do, h:mm a"}}</div>
              <div class="work-meta">Job title: {{workplace.data.job_title}}</div>
              {{#if workplace.data.manager}}
                <div class="manager-box">
                  {{paper-icon "security"}} Manager
                </div>
              {{/if}}
            </div>
            <div class="outline-btn" {{action "promptCancelEmployement"}}>Cancel Employement</div>
          {{/if}}
        </div>


      {{else}}
        <div class="rich-info">
          {{paper-icon "store-mall-directory"}}
          <p>You are not employed at this moment. Try to find business that you want to work for and send them request.</p>
        </div>
        <div class="outline-btn centered" {{action "showFinder"}}>Find Business</div>
      {{/if}}
    {{/app-page-card}}
  {{/app-page}}

{{else}}
  <div class="content-preloader layout-align-center-center layout-row">
    {{paper-progress-circular diameter=60}}
  </div>
{{/if}}

{{#if findingWorkplace}}
  {{#custom-dialog
    title="Find Business"
    active=findingWorkplace
  }}

    <div class="inner">
      {{paper-input
        label="Business Name"
        type="text"
        value=searchQuery
        onChange=(action "queryChanged")
      }}

      <div class="busines-search-results">
        {{#each searchResults as |item|}}
          <div id="{{item.uid}}" class="item layout-row layout-align-start-center" {{action "selectBusiness" item}}>
            {{#if item.profile_image}}
              <img src="{{item.profile_image}}">
            {{else}}
              {{paper-icon "store-mall-directory"}}
            {{/if}}
            <div class="name">{{item.name}}</div>
            <span class="flex"></span>
            {{paper-icon "check" class="checkmark-icon"}}
          </div>
        {{/each}}
      </div>
    </div>

    {{custom-dialog-actions
      active=findingWorkplace
      confirmLabel="Send Request"
      confirmAction=sendRequest
      onClose=onCancelDialog
      waiting=waiting
      success=success
      error=error
      successMsg="Request successfully sent"
    }}

  {{/custom-dialog}}
{{/if}}

{{#if cancelingEmpolyement}}
  {{#custom-dialog
    title="Cancel Employement"
    active=cancelingEmpolyement
  }}
    <p class="prompt-info">Do you realy want to cancel employement?</p>

    {{custom-dialog-actions
      active=cancelingEmpolyement
      confirmLabel="Yes, Cancel Now"
      confirmAction=(action "cancelEmployement")
      waiting=ce_waiting
      success=ce_success
      error=ce_error      
      successMsg="You successfully canceled employement"
    }}
  {{/custom-dialog}}
{{/if}}
